.git
.DS_Store
Thumbs.db
.vscode/
.idea/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

dist/
release/
out/
bin/
resources/win32/

configs/.env
configs/.env.production
.env
.env.*
!configs/.env.example
!configs/.env.production.example

*.blockmap
*.AppImage
*.dmg
*.exe
*.zip
